body {
	background-color: black;
	margin: 0px;
}
div {
	color: white;
	font-family: Arial;
	text-align: center;
	
	line-height: 100vh; /* Accidently came across this hacky shit. 
						I hope browser support for vh is going well! */
	font-size: 8vw;
	width: 100%;
	
	cursor: pointer;
}
